    @model web_odev_24.Models.Islem




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="islemID" />
            <div class="form-group">
                <label asp-for="islem_ad" class="control-label"></label>
                <input asp-for="islem_ad" class="form-control" />
                <span asp-validation-for="islem_ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="islem_ucret" class="control-label"></label>
                <input asp-for="islem_ucret" class="form-control" />
                <span asp-validation-for="islem_ucret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="islem_sure" class="control-label"></label>
                <input asp-for="islem_sure" class="form-control" />
                <span asp-validation-for="islem_sure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
