@{
	ViewData["Title"] = "Home Page";
} <div class="background-image"> <div class="text-center content"> <h1 class="display-4">Berberinize Hoş Geldiniz</h1> <p>En iyi saç ve sakal kesimi için buradayız.</p> </div> </div>