@model web_odev_24.Models.Musteri

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Musteri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="musteri_ad" class="control-label"></label>
                <input asp-for="musteri_ad" class="form-control" />
                <span asp-validation-for="musteri_ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="musteri_soyad" class="control-label"></label>
                <input asp-for="musteri_soyad" class="form-control" />
                <span asp-validation-for="musteri_soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="musteri_telefon" class="control-label"></label>
                <input asp-for="musteri_telefon" class="form-control" />
                <span asp-validation-for="musteri_telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="musteri_email" class="control-label"></label>
                <input asp-for="musteri_email" class="form-control" />
                <span asp-validation-for="musteri_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="musteri_sifre" class="control-label"></label>
                <input asp-for="musteri_sifre" class="form-control" />
                <span asp-validation-for="musteri_sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
